<!DOCTYPE html>
<html>
<head>
  <title> Practice basic app </title>
</head>

<body>
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div> Gets at the core of web dev; front end backend communication </div>
    <div style="margin:2vh;">
        Method 1: Send JSON to backend (general)
        <input type="text" id="val"></input>
        <button id="submit">Submit</button>
    </div>
    <div style="margin-bottom: 2vh;">
      Method 2: Forms (specific)
      <form action="/input" method="post">
        <input type="text" name="valform"></input>
        <input type="submit" value="Submit"></input>
      </form>
    </div>
    <div>
      Response Data from Method 1:
      <div id="res"></div>
    </div>
  </div>
</body>

<footer>
  <script type="text/javascript" src="{{ url_for('static', filename='viewFunctions.js') }}"></script>
</footer>

</html>
